@font-face {
  font-family: "GothaProReg";
  src: url("../fonts/gotham/GothaProReg.otf");
}

@font-face {
  font-family: "GothaProBold";
  src: url("../fonts/gotham/GothaProBol.otf");
}

@font-face {
  font-family: "GothaProNarMed";
  src: url("../fonts/gotham/GothaProNarMed.otf");
}