@font-face {
  font-family: "GothaProReg";
  src: url("../fonts/Gotham/GothaProReg.otf");
}

@font-face {
  font-family: "GothaProBold";
  src: url("../fonts/Gotham/GothaProBol.otf");
}

@font-face {
  font-family: "GothaProNarMed";
  src: url("../fonts/Gotham/GothaProNarMed.otf");
}