@import "includes/variables";
@import "includes/fonts";
@import "vendors/bootstrap";

body {
	font-family: GothaProReg;
	font-size: 19px;
	color: #000;
}
 
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.caret {
    border-top: 8px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

a:focus {
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    border: none;
}

.navbar-default {
    background-color: $blue;
    border-color: transparent;
    border-radius: 0;
}

.navbar-collapse {
	padding: 0;
}

header.header {
	padding-top: 35px;
	.logo {
		display: block;
		img {
			width: auto;
			display: block;
			max-width: 100%;
		}
	}
	.right-menu {
		padding-top: 10px;
		text-align: right;
		li {
			list-style: none; 
			line-height: 1.7;
			a {
				color: #000;
				.multi-img {
					padding: 0 2px;	
				}
			}
			.tel-num {
				padding-left: 10px;
				display: inline-block;
			}
		}
	}
	.navbar {
		margin-bottom: 0;
		margin-top: 20px;
		margin-bottom: 10px;
		.menu {
			margin-bottom: 0;
			border-top: 1px solid #aad5d6;
			border-bottom: 1px solid #aad5d6;
		}
		li {
			list-style: none;
			display: inline-block;
			float: left;
			&.dropdown {
				position: relative;
				&::after {
					content: '';
					position: absolute;
				}
			}
			a {
				color: #fff;
				font-size: 18px;
				font-weight: 600;
				padding: 17px 25px; 
				border-right: 1px solid #aad5d6;
				display: block;
				text-align: center;
			}
			&:last-child {
				a {
					border-right: none;		
				}
			}
		}
	}
	form {
		padding: 11px 24px;
		input[type="search"] {
			border: none;
			outline: none;
			padding: 3px 0;
			padding-left: 10px;
		}
		input[type="submit"] {
		    background-image: url(../img/s-b.png);
		    color: transparent;
		    border: none;
		    height: 33px;
		    width: 36px;
		    background-position: center center;
		}
	}
	.dropdown-menu {
		li {
			float: none;
			display: block;
			padding-left: 20px;
			a {
				color: #000;
				text-align: left;
				line-height: 2;
				border: none;
				width: 100%;
				display: block;
				padding: 0;
				&:hover {
					background: #fff;
				}

			}
		}
	}
}

.main-screen {
	.slider {
		margin-bottom: 12px;
		.item {
			height: 416px;
			width: 100%;
			background-size: 100%; 
		}
	}
	.right-screen {
		.block {
			position: relative;
			height: 207px;
			display: block;
			width: 100%;
			background: #f7f7f7;
			&:first-child {
				border-bottom: 2px solid #e3e3e3;
			}
			&:last-child {
				border-top: 2px solid #fff;
			}
			.inner {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				margin: auto;
				display: block;
				width: 100%;
			}
		}
		.title {
			color: $blue;
			text-align: center;
			font-size: 22px;
			margin-bottom: 25px;
		}
		a {
			color: #1b1b1b;
			background: #dedc00;
			font-size: 16px;
			text-transform: uppercase;
			display: block;
			width: 134px;
			text-align: center;
			margin: auto;
			padding: 6px 0;
			font-weight: 600;
		}
	}
}

.why {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 13px;
		width: calc(100% - 26px);
		height: 72px;
		background-image: url(../img/yellow-plank.png); 
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.title {
		text-align: center;
		text-transform: uppercase;
		color: $blue;
		font-size: 32px;
		padding-bottom: 25px;
		padding-top: 90px;
	}
	.left-bl {
		.point {
			font-size: 28px;
			color: #0d0d0d;
			span {
				color: $blue;
				font-size: 50px;
			}
		}
	}
	.map-bl {
		background-image: url(../img/map.png);
		background-size: 100%; 
		background-position: center center;
		height: 343px;  
		background-repeat: no-repeat; 
		margin: 0 50px auto;

	}
	&.what {
		&::before {
			background-image: url(../img/blue-plank.png); 
		}	
		.what-block {
			position: relative;
			padding-bottom: 30px;
			a {
				color: $blue;
				font-size: 21px;
				text-align: center;
				width: 100%;
				text-transform: uppercase;
				display: block;
				padding-top: 15px;
				margin: 0 auto;
			}
			.title {
				font-size: 21px;
				color: #000;
				text-align: left;
				text-transform: lowercase;
				position: absolute;
				top: -8px;
				line-height: 1.1;
			    padding-bottom: 0;
    			padding-top: 0;
    			padding-left: 38px;
			}
			img {
			    margin: auto;
    			display: block;
			}
		}	
	}
	.lamp {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.want {
	text-align: center;
	background-image: url(../img/form-background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 30px;
	.want-title {
		color: #fff;
		font-size: 33px;
		font-family: GothaProBold;
	}
	.sub-title {
		color: #fff;
		font-size: 21px;
		line-height: 1.2;
		margin-bottom: 20px;
	}
	form {
		input {
			width: 100%;
			display: block;
			margin: auto;
			margin-bottom: 10px;
			text-align: center;
			height: 40px;
			&.topic {
				max-width: 890px; 
			}
			&.email {
				max-width: 586px; 
			}
		}
		button {
			width: 100%;
			max-width: 341px; 
			height: 70px;
			color: #000;
			font-size: 24px;
			border: none;
			background: none;
			background-color: #dedc00; 
		}
	}
	.reviews {
		.rev-tit {
		    text-align: center;
		    text-transform: uppercase;
		    color: #48a5a8;
		    font-size: 32px;
		    padding-bottom: 25px;
		    padding-top: 50px;
		}
		.review {
			color: #1b1b1b;
			font-size: 16px;
			text-align: justify;
			a {
				color: $blue;
				font-size: 22.46px;
				display: block;
				margin-top: 5px;
				border-top: 2px solid #48a5a8;
				margin-bottom: 70px;
			}
		}
		.look {
			width: 880px;
			display: block;
			margin: auto;
			margin-top: 30px;
			.l {
				text-align: left;
				float: left;
				height: 50px;
				display: block;
				padding-top: 13px;
				background: $blue;
				width: 50%;
				color: #fff;
				padding-left: 40px;
			}
			.r {
				text-align: right;
				float: right;
				height: 50px;
				display: block;
				padding-top: 13px;
				background: $blue;
				width: 50%;
				color: #fff;
				padding-right: 40px;
			}
		}
	}
}

.portfolio {
	padding-top: 30px;
	img {
		margin-bottom: 26px;
		width: 100%;
		height: auto;
	}
}

.text {
	p {
		color: #1b1b1b;
		font-size: 16px;
	}
	ul {
		padding-left: 20px;
		padding-bottom: 20px;
		padding-top: 15px;
		li {
			font-size: 16px;
			text-transform: uppercase;
			line-height: 1.7;
		}
	}
}